.jumbotron{
  background-color: yellow;
  color: black;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  
}
.button{
  background-color: green;
  color: green;
}
.footer{
  padding: 10px 10px 0px 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}
.card-hotel{
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva{
  width: 100px;
  border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
  padding-top: 10px;
}